.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  width: 18rem;
  height: 44rem;
  border-radius: 34px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding-bottom: 70px;
}

.step{
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-img-top{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 20px;
}

.card-body{
  padding: 20px;
  text-align: left;
  flex-grow: 1;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #666;
}

.icon-button {
  background: none;
  border: none;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button img{
  width: 38px;
  height: 38px;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 0 20px;
}

.indicators {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.indicators img {
  width: 8px;
  height: 8px;
}

.dots-button{
  background: none;
  border: none;
  margin-top: 20px;
}

.icon-buttons {
  display: flex;
  gap: -48px;
}
