<div class="container custom-container">
  <div class="card">
    @if(steps.length > 0){
      <div class="step" [ngStyle]="{'background-color': steps[currentStep].bgcolor}">
        <img [src]="steps[currentStep].img" class="card-img-top" alt="imagen">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ steps[currentStep].title }}</h5>
        <p class="card-text">{{ steps[currentStep].descripcion }}</p>
      </div>
      <div>
      <div class="navigation-container">
        <div class="indicators" >
          @for (step of steps; track step.title) {
            <button class="dots-button" (click)="handleDots(steps.indexOf(step))">
              @if (steps.indexOf(step) === currentStep) {
                <img src="assets/circle-solid-black.svg" alt="indicator">
              } @else {
                <img src="assets/circle-solid.svg" alt="indicator">
              }
            </button>
          }
        </div>
        <div class="icon-buttons">
          @if (currentStep > 0) {
            <button class="icon-button" (click)="prevStep()">
              <img src="assets/circle-arrow-left-solid.svg" alt="icono">
            </button>
          }
          @if (currentStep < steps.length - 1) {
            <button class="icon-button" (click)="nextStep()">
              <img src="assets/circle-arrow-right-solid.svg" alt="icono">
            </button>
          }
        </div>
      </div>
    </div>
  }
  </div>
</div>
